<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_ITransportDocumentService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpsBinding_ITransportDocumentService1">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.xynaps.net/ws/v2/TransportDocumentService.svc/upwd"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITransportDocumentService"
                contract="Service.ITransportDocumentService" name="BasicHttpsBinding_ITransportDocumentService" />
            <endpoint address="https://apps.xynaps.net/ws/v2/TransportDocumentService.svc/cert"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITransportDocumentService1"
                contract="Service.ITransportDocumentService" name="BasicHttpsBinding_ITransportDocumentService1" />
        </client>
    </system.serviceModel>
</configuration>